<IfModule mod_rewrite.c>
RewriteEngine On

# require https
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

# redirect / to /current/
RewriteRule ^/?$ /current/$1 [R]

# redirect /current/ to actual path of current version
RewriteRule ^/?current(/[A-Za-z0-9\-/.]*)?$ /v1.0.0-beta.7$1 [R=307,L]
</IfModule>