<IfModule mod_rewrite.c>
RewriteEngine On

# require https
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/rpc-services/$1 [R,L]

# redirect / to /current/
RewriteRule ^/?$ /rpc-services/current/ [R]

# redirect /current/ to actual path of current version
RewriteRule ^/?current(/[A-Za-z0-9\-/.]*)?$ /rpc-services/v1.0.2$1 [R=307,L]
</IfModule>